/* Global styles to remove all default styling */
*{
    margin: 0;
    padding: 0;
}

/* Global navigation styling */

.navigation_bar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.navigation_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-left: 0px;
}

.navigation_button{
    display: inline-block;
    flex: 1;
    text-align: center;

    border: none;
    text-decoration: none;

    color: black;
    background-color: white;

    margin-left: 20px;
    margin-right: 20px;

    transition: 0.4s;
}

.navigation_button:hover{
    color: white;
    background-color: black;

    border-width: 0px;
    border-style: none;
    border-radius: 10px;

    font-weight: bolder;

    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.navigation_logo{
    display: inline-block;
    text-align: center;
    max-width: 90px;

}

/* Home navigation styling */

.home_navigation_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_navigation_button{
    display: inline-block;
    flex: 1;
    text-align: center;

    border: none;
    text-decoration: none;

    color: white;
    background-color: #2D2F98;
    font-size: 1.5vh;

    margin: 18px;
}

/* Home page styling */

.home_body{
    background: url('../Assets/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

.home_left{
    background-color: #2D2F98;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.home_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_logo{
    width: 35vh;
}

.home_heading{
    margin: 4vh;
    color: white;
    font-size: 4vh;
    font-weight: lighter;
}

.learn_more_button{
    padding-top: 2vh;
    padding-bottom: 2vh;

    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;


    align-items: center;

    width: 200px;

    color: white;
    background-color: #2D2F98;
    border-color: white;
    border-radius: 15px;
    border-width: 0.5vh;
    border-style: solid;

    font-weight: bold;
    font-size: 2vh;
}

.home_spacer{
    height: 30vh;
}