/* Global default HTMl tag styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

h3 {
  font-family: "General Sans", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

h4 {
  font-family: "General Sans", sans-serif;
  padding-top: 6px;
  padding-bottom: 6px;
}

span {
  font-weight: bold;
}

li {
  list-style-type: none;
}

/* Global navigation styling */

.navigation_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row;
  background-color: white;
  width: 100%;
  min-height: 10vh;
}

.navigation_buttons {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  margin-left: 0px;
}

.navigation_button {
  display: inline-block;
  text-align: center;

  color: black;
  background-color: white;

  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;

  border: none;

  font-size: 16px;
  text-decoration: none;

  transition: 0.3s;
}

.navigation_button:hover{
  color: #2d2f98;
  cursor: pointer;
}

.navigation_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.navigation_logo_button {
  border-style: none;
  background: white;
}

.navigation_logo_image {
  display: inline;
  width: 70px;
}

.navigation_logo {
  padding-right: 20px;
}

@media only screen and (max-width: 815px) {
  .navigation_button {
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .navigation_logo {
    padding-right: 15px;
  }

  .navigation_logo_image {
    width: 60px;
  }
}

@media only screen and (max-width: 635px) {
  .navigation_button {
    font-size: 10px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .navigation_logo {
    padding-right: 10px;
  }

  .navigation_logo_image {
    width: 50px;
  }
}

@media only screen and (max-width: 475px) {
  .navigation_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }

  .navigation_button {
    font-size: 10px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

/* Global title styling */

.title {
    font-size: 72px;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

/* Global sub title styling */

.sub_title {
  font-weight: lighter;
  font-size: 24px;
  color: #2d2f98;
}

/* Global form styling */

form {
  display: grid;
  grid-template-columns: 60px 500px 60px;
  margin-top: 25px;
  margin-bottom: 25px; 
  align-items: center;
}

label{
  font-weight: bolder;
}

.form_input {
  width: 100%;
  height: 35px;
  margin-top: 7px;
  margin-bottom: 7px;

  color: black;
  background-color: white;
  border-color: black;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-weight: lighter;
  padding: 5px;
  overflow-wrap: break-word;
}

.form_input_tall {
  width: 100%;
  height: 100px;
  margin-top: 7px;
  margin-bottom: 7px;

  color: black;
  background-color: white;
  border-color: black;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-weight: lighter;
  padding: 5px;
  inline-size: 500px;
}

.form_button {
  width: 500px;
  height: 50px;

  margin-top: 25px;
  margin-bottom: 25px;

  color: black;
  background-color: white;
  border-color: black;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-weight: lighter;

  font-size: 18px;
}

.form_button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  form {
    width: 90vw;
    contain: content;
  }

  .form_input{
    width: 70vw;
  }

  .form_input_tall{
    width: 70VW;
  }

  .form_button{
    width: 70VW;
  }

}

/* Global footer page styling */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  color: white;
  background-color: #2d2f98;
}

/* Home navigation styling */

.home_navigation_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2d2f98;
  width: 740px;
  height: 10vh;
}

.home_navigation_buttons {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
}

.home_navigation_button {
  display: inline-block;
  flex: 1;
  text-align: center;

  border: none;

  color: white;
  background-color: #2d2f98;

  margin-left: 20px;
  margin-right: 20px;

  font-size: 16px;

  transition: 0.3s;
}

.home_navigation_button:hover {
  cursor: pointer;
}

/* Home page styling */

.home_body {
  background: url("../Assets/home.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-sizing: border-box;
}

.home_left {
  background-color: #2d2f98;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 740px;
  height: calc(100vh - 10vh);
}

.home_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_logo {
  width: 300px;
}

.home_heading {
  margin: 20px;
  color: white;
  font-size: 42px;
  font-weight: lighter;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.home_sub_heading {
  color: white;
  font-size: 18px;
  max-width: 400px;
  font-weight: lighter;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  margin-left: 20px;
  margin-right: 20px;
}

.learn_more_button {
  padding-top: 2vh;
  padding-bottom: 2vh;

  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;

  align-items: center;

  width: 200px;

  color: white;
  background-color: #2d2f98;
  border-color: white;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  font-weight: lighter;

  box-shadow: 1px 1px 1px rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);

  font-size: 18px;

  transition: 0.3s;
}

.learn_more_button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1480px) {
  .home_body {
    background: none;
    background-color: #2d2f98;
  }

  .home_navigation_bar {
    width: 100vw;
  }

  .home_left {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .home_navigation_button {
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 550px) {
  .home_navigation_button {
    font-size: 10px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media only screen and (max-width: 410px) {
  .home_navigation_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
}

/* About page styling */

.about_body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Assets/cuba.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about_main {
  height: 100%;
}

.about_title {
  color: rgb(255, 255, 255);
  font-size: 84px;
  font-weight: lighter;
  text-shadow: 4px 5px 5px rgb(0, 0, 0);

  text-align: center;
  margin-top: 16vw;
  margin-bottom: 16vw;
  padding-left: 40px;
  padding-right: 40px;
}

.about_information {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about_information_box {
  max-width: 1500px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 830px) {
  .about_title {
    font-size: 38px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Events page styling */
.events_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events_information {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.events_information_box {
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.events_information_box_left {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}

.events_information_box_right {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  text-align: center;
}

.events_information_image {
  display: inline-block;
  height: 260px;
  width: 450px;
  border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .events_information_box_left {
    padding-right: 0px;
  }

  .events_information_box_right {
    padding-left: 0px;
  }

  .events_information_image {
    width: 0px;
    height: 0px;
  }
}

/* Menu page styling */

.menu_information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;

}

.menu_list {
  padding: 50px;
}

.menu_list_section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu_list_item {
  padding: 5px;
}

.menu_image_box{
  max-width: 600px;
}

.menu_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding: 50px;
}

@media only screen and (max-width: 1000px) {
  .menu_information {
    display: flex;
    flex-direction: column-reverse;
  }

  .menu_image_box{
    max-width: 200px;
  }

  .menu_image {
    padding: 0;
  }
}

/* Booking page styling */

.booking_body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking_image{
  max-width: 200px;
}

.booking_information{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1500px;
}

.booking_information_box{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 50px; 
}

@media only screen and (max-width: 650px) {
    .booking_information_box {
    width: 80vw;
    contain: content;
  }
}

/* Gallery page styling */

.gallery_information{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.gallery_title{
  font-size: 72px;
  font-weight: lighter;
  padding-top: 25px;
  padding-bottom: 25px;
}

.gallery_images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery_image_1{
  width: 100%;
  height: 70vh;
  object-fit: cover;
  display: block;
}

.gallery_image_2{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  display: block;
}

.gallery_image_3{
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: block;
}

.gallery_image_4{
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: block;
}

.gallery_image_5{
  width: 100%;
  height: 30vh;
  object-fit: cover;
    display: block;
}

@media only screen and (max-width: 815px) {
  .gallery_images{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {}

/* Location page styling */

.location_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.location_information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.location_left {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.location_map {
  border: none;
  border-style: none;
  width: 500px;
  height: 400px;
  color: black;
  border-color: black;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
}

.location_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.location_title {
  font-size: 72px;
  font-weight: lighter;
  margin-top: 50px;
  margin-bottom: 50px;
}

.location_information_text {
  font-weight: lighter;
  font-size: 24px;
  max-width: 600px;
}

.location_button {
  padding-top: 30px;
  padding-bottom: 30px;

  margin-top: 20px;
  margin-bottom: 20px;

  align-items: center;

  width: 200px;

  color: black;
  background-color: white;
  border-color: black;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  font-weight: lighter;

  font-size: 18px;

  transition: 0.3s;
}

.location_button {
  cursor: pointer;
}

  .location_map {
    height: 30vh;
  }

  .location_title {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .location_information_text {
    font-size: 16px;
  }

@media only screen and (max-width: 1000px) {
  .location_information {
    flex-direction: column;
  }

  .location_map {
    width: 90vw;
  }

  .location_right {
    height: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .location_map {
    height: 25vh;
  }

  .location_title {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .location_information_text {
    font-size: 12px;
  }
}

/* Socials page styling */

.socials_body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.socials_information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socials_buttons{
  display: flex;
  flex-direction: row;
}

.socials_button{
  width: 150px;
  height: 150px;
  margin: 10px;
  border: none;
  background-color: white;
}

@media only screen and (max-width: 650px) {
  .socials_button{
    width: 100px;
  }
}

@media only screen and (max-width: 450px) {
  .socials_button{
    width: 25vw;
  }

  .socials_button_icon{
    width: 50px;
  }
}
